.formulario {
    width: 90%;
    border: 2px solid rgb(234, 231, 239);
    border-radius: 5px;
    margin-left: 100px;
    background-image: url("https://images3.alphacoders.com/812/thumbbig-812062.webp");
   padding: 100px;
   display: flex;
}

.login{
    background-color: rgb(148, 40, 255);
  
    padding-bottom: 100px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid rgb(120, 73, 212);
}

.nav{
    padding-top: 40px;
}

.botonAbout { 
    background-color: #7994ff;
color: #fff;
width: 100px;
padding: 10px;
border: 1px solid #000;
border-radius: 5px;
margin-right: 10px ;
    
}

.barra{
    border:5px;
    border-radius: 3px;
    margin: 0auto;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-top: 70px;
    padding: 5px;}

    .botonAgregar{
        background-color: #7994ff;
color: #fff;
width: 100px;
padding: 5px;
border: 1px solid #000;
border-radius: 5px;
margin-left: 10px;

    }

   .botonX{
    background-color: #7994ff;
color: #fff;
width: 100px;
padding: 5px;
border: 1px solid #000;
border-radius: 5px;
margin-left: 10px;
margin-top: 20px;

   }

   h2 {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: rgb(1, 1, 1);
    background-color: none;
    font-size: 30px;
   
   }
.details{
    background-color: rgb(77, 65, 79);
    width: 60%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 40px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(232, 159, 237)
}

.image{

width: 60%;
padding: 30px;}

.presentacionCard{
border-radius: 10px;
background-color: slateblue;
max-width: 30%;
max-height: 5%;
margin: 0 auto;
margin-top: 20px;
margin-left: 20px;
padding: 10px;
display: inline-block



}
.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.infoName{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}



   .dtName, .dtStatus, .dtSpecie, .dtGender, .dtOrigin{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    color:rgb(203, 96, 201);
    font-style:inherit;
    
   }

   .cardPersonaje {
    border-radius: 30px;
   }



.botonHome{
    background-color:  #7994ff;
color: #fff;
width: 100px;
padding: 10px;
border: 1px solid #000;
border-radius: 5px;
margin-left: 10px;
}

.submit{
    background-color:  #7994ff;
color: #fff;
width: 100px;
padding: 10px;
border: 1px solid #000;
border-radius: 5px;
        
}

.password {
    border:5px;
    border-radius: 3px;
    margin: 0auto;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
  

}

.email {
    border:5px;
    border-radius: 3px;
    margin: 0auto;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-top: 70px;
    padding: 5px;
}

.App {
    text-align: center;
}